.warningMSG { 
    background-color: lightyellow;
    
}

.text {
    padding: 8px;
}
.exit {
    background-color: lightyellow;
    border: none;
    padding-top: 2vh;
    padding-right: 1vh;
    transform: scale(2.5);
    

}